body{
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;

}

form{
    float: right;
}
.centrar{
    text-align: center;
}.centrar form{
    display: inline-block;
    float: none;
}.centrar input[type=submit]{
    margin-top: 5px;
}

table{
    border: solid black 5px;
}table td,th{
    border: black solid 2px;
    text-align: center;
}